// Navigation Component
// -------------------------
.navigation {
  @include list-inline();

  margin-bottom: $gutter;

  li {
    padding-left: $gutter-double;

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    display: inline-block;

    line-height: 3.5em;

    border-bottom: 4px solid transparent;

    &:hover {
      border-bottom: 4px solid $color-softblue;
    }
  }
}
